<!--礼品内容1-->

<div class="gift_list_contain">

    <div class="goods_list">

        <!-- 主图-->
        <div class="main_images">
            <img src="../../images/gif_img_goods4.jpg" class="loading_img">
        </div>

        <!-- 标题-->
        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

        </div>

    </div>
    <!--展示内容-->
    <div class="gift_subdivision_goods view_more">

            <div class="goods_name">
                <p>中石化加油卡</p>
                <p class="goods_number">x12</p>
            </div>
            <div class="goods_name">
                <p>石库门红酒</p>
                <p class="goods_number">x2</p>
            </div>
            <div class="goods_name">
                <p>飞利浦家用料理机</p>
                <p class="goods_number">x3</p>
            </div>

    </div>
    <!-- 显示更多-->
    <div class="left_gift_list" onclick="orderConfirm.clickViewMore(document.getElementsByClassName('left_gift_list')[0])">
        <span>点击收起</span>
        <img src="../../images/jf_gift_uparrow.png">
    </div>


</div>

<!--礼品内容3-->

<div class="gift_confirm_total">
    <div class="text_list">
        <p>礼品编号</p>
        <p class="font_red">12367800000</p>
    </div>
    <div class="text_list">
        <p>价格档位</p>
        <p class="font_red">￥300.00</p>
    </div>
    <div class="text_list">
        <p>我的留言</p>
        <textarea class="gift_textarea" placeholder="选填：对本次交易的说明（建议填写已和卖家达成一致的内容）" rows="1"></textarea>
    </div>
</div>

