
<!-- 修改地址 -->

<div class="gift_order_confirm_address">


    <div class="address_location_icon"></div>

    <div class="personal_info_address">

  <!--      <div class="name">庄中煲 <span>13516255278</span></div>
        <div class="address">
            <p>上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号808号虹桥路808号 </p>
        </div>-->
        <!-- 注意 新用户没有添加地址情况一下用这个样式-->
         <div class="address_unfilled">
            <span>请编辑收件人信息</span>
        </div>

    </div>

    <a class="modify_address" href="../jf_gift_address/gift_edit_address.html">
        <p class="font_middle_gary">修改地址</p>
    </a>

    </div>




