
<!-- 订单页/兑换页 -->

<%- include('./gift_1_order_confirm.ejs')%>



<!--礼品内容-->
<%- include('./gift_2_confirm_details.ejs')%>



<footer class="gift_redeem_now">

    <a class="gift_redeem_bottom" href="../jf_gift_exchange/gift_order_details.html">确认兑换</a>

</footer>
