<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>订单确认</title>
</head>

<body>


<%-include('../../component/jf_gift_order_confirm/main_order_confirm.ejs')%>



</body>

</html>
