<!--待发货-->

<div class="gift_order_details_logistics" onclick="javascript:window.location.href='../jf_gift_logistics/jf_gift_logistics.html'">

    <img src="../../images/jf_gift_predeliver.png" class="gift_order_predeliver">
    <!--已发货 img为jf_gift_aldeliver.png -->


    <p>待发货</p>
           <span class="logistics_title_right"><a class="gift_logistics_information" >查看物流</a></span>
</div>

