
<!-- 地址 -->

<div class="gift_order_recipients_address">

    <div class="address_location_icon"></div>

    <div class="personal_info_address">

        <div class="name">庄中煲 <span>13516255278</span></div>
        <div class="address">
            <p>上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号808号虹桥路808号 </p>
        </div>

    </div>

</div>
