
        <!--登录用户名-->
        <label>
            <input placeholder="请输入手机号码" class="login_content_name" type="text" pattern="[0-9]*" maxlength="11">
            <img src="../../images/jf_gift_phone.png" class="login_name_pic">
            <span class="login_wronginfo"></span>
        </label>

        <!--验证码-->
        <label>
                <input placeholder="请输入验证码" class="login_content_valiate" type="text">
                <img src="../../images/jf_gift_verification.png" class="login_valiate_pic">
                <span class="valiate_code">
                <input type="button" class="gif_input_code" value="获取验证码" onclick="countDown.sendCode(this)">
        </span>
        </label>


