<!--登录按钮-->
<label class="login_btn">
    <a href="../jf_gift_homepage/gift_homepage.html">去兑换</a>
</label>

<!--标注 -->
<div class="forget_pasd">
    <div class="forget_pasd_two">

        <div class="jf_kindly_reminder">温馨提示：</div>
        <div class="jf_reminder_text">进入兑换页面后请任意挑选一款套餐，款已付，我们将免费配送上门。</div>

    </div>

</div>