<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>注册</title>
</head>
<body>


<%-include('../../component/jf_gift_register/jf_gift_register.ejs')%>


</body>
</html>