<div class="gift_edit_address_list">
    <form>
        <div class="personal_info">
            <p>庄中煲</p>
            <p>15627166526</p>
        </div>
        <div class="address">
            <p>上海市徐汇区虹桥路808号加华商务中心D5栋三楼嘉福弹性福利平台</p>
        </div>

        <div class="operation_area">
            <label>
                <input class="select_key" type="checkbox" checked
                       onclick="giftAddress.checkBoxChoose(document.getElementsByClassName('select_key'),this)">默认地址
            </label>
            <div class="gift_address_edit_choose">
                <a class="edit" href="../jf_gift_address/gift_add_address.html"><span></span>编辑</a>
                <div class="delete" onclick="giftShowTip.dialogShow({
         'mainText':'地址删除',
         'minText':'是否删除此地址',
         'cancleBtnText':'取消',
         'checkFn': function(){}
        })"><span></span>删除
                </div>
            </div>
        </div>
    </form>
</div>


<div class="gift_edit_address_list">
    <div class="personal_info">
        <p>庄中煲</p>
        <p>15627166526</p>
    </div>
    <div class="address">
        <p>上海市徐汇区虹桥路808号</p>
    </div>

    <div class="operation_area">
        <label>
            <input class="select_key" type="checkbox"
                   onclick="giftAddress.checkBoxChoose(document.getElementsByClassName('select_key'),this)">设为默认
        </label>
        <div class="gift_address_edit_choose">
            <a class="edit" href="../jf_gift_address/gift_add_address.html"><span></span>编辑</a>
            <div class="delete" onclick="giftShowTip.dialogShow({
         'mainText':'地址删除',
         'minText':'是否删除此地址',
         'cancleBtnText':'取消',
         'checkFn': function(){}
        })"><span></span>删除</div>
        </div>
    </div>
</div>


<div class="gift_edit_address_list">
    <div class="personal_info">
        <p>庄中煲</p>
        <p>15627166526</p>
    </div>
    <div class="address">
        <p>上海市徐汇区虹桥路808号加华商务中心D5栋三楼嘉福弹性福利平台</p>
    </div>

    <div class="operation_area">
        <label>
            <input class="select_key" type="checkbox"
                   onclick="giftAddress.checkBoxChoose(document.getElementsByClassName('select_key'),this)">设为默认
        </label>
        <div class="gift_address_edit_choose">
            <a class="edit" href="../jf_gift_address/gift_add_address.html"><span></span>编辑</a>
            <div class="delete" onclick="giftShowTip.dialogShow({
         'mainText':'地址删除',
         'minText':'是否删除此地址',
         'cancleBtnText':'取消',
         'checkFn': function(){}
        })"><span></span>删除</div>
        </div>
    </div>
</div>
