

<!--礼品册信息-->

<%- include('gift_personal_information.ejs')%>


<!--提示-->


<div class="gift_present_goods">
    <img src="../../images/gift_present_prompt.png">确认转赠后，该礼品册将转赠给获赠人的手机号</div>

</div>





<!--底部按钮-->

<footer class="gift_redeem_now">

    <a class="gift_redeem_bottom" href="../jf_gift_success/gift_give_success.html">
        确认转赠
    </a>

</footer>
