<!--nav-->
    <div class="gift_details_nav">

        <div class="details_nav_content" onclick="giftDetails.changeTab(document.getElementsByClassName('details_nav_content')[0])">

            <div class="product_details">礼品详情</div>

            <div class="product_details">礼品规格</div>

        </div>

        <div class="details_nav_box"></div>

    </div>



