<div id="description_box">

<!-- 礼品详情-->

<div class="gift_details gift_details_images">

    <div class="gift_details_title"><img src="../../images/jf-gift-details.png">礼品详情</div>

    <!-- 图片-->
    <div class="details_images_content">
        <img src="../../images/details_images_top.jpg">
        <img src="../../images/details_images_middle.jpg">
        <img src="../../images/details_images_bottom.jpg" >

    </div>
</div>

<!--礼品规格-->

<div class="gift_details gift_specification_details">

    <div class="specification_details_title"><img src="../../images/jf-gift-size.png">礼品规格</div>

    <div class="gift_specification_table">
        <table border='1' cellspacing='0' cellpadding='0' bordercolor='#ddd'>

            <div>
                <tr class="title">
                    <td colspan="2">

                        <span>法国波尔多</span>

                        <span>x1</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <p>酒精度：12.8%</p>
                        <p>产地：法国波尔多</p>
                        <p>产地：法国波尔多</p>
                    </td>
                </tr>


            </div>

                <tr class="title">
                    <td colspan="2"><span>松下规格料理机</span><span>x1</span></td>
                </tr>


                <tr>
                    <td colspan="2">
                        <p>规格：10.8L</p>
                        <p>材质：食品耐高温</p>
                        <p>功率：1500W  220V/50HZ</p>
                    </td>
                </tr>


                <tr class="title">
                    <td colspan="2"><span>中石化加油卡</span><span>x3</span></td>
                </tr>


                <tr>
                    <td colspan="2">
                        <p>价格：50元</p>


                    </td>
                </tr>


        </table>
    </div>

    <!--全国联保 售后无忧-->

    <div class="gift_customer_service_title"><img src="../../images/jf-gift-aftersale.png">全国联保  售后无忧</div>

    <div class="gift_customer_service">

        <a class="gift_service_title2" href="tel:400-821-6990">【客服热线】400-821-6990</a>
        <div class="gift_service_title2">【售后时间】周一至周五  9:00-12:00  13:30-17:30</div>
        <div class="gift_service_title4">如您有任何问题，请联系我们。您可随时享受专业服务人员为您提供周全的满意服务。</div>


    </div>


</div>


</div>
