<!--nav-->
    <div class="gift_details_nav">

        <div class="details_nav_content">

            <div class="product_details" >礼品详情</div>

            <div class="product_details">礼品规格</div>

        </div>

        <div class="details_nav_box"></div>

    </div>


<script>



    giftDetails.changeTab();


    giftDetails.srcollChangeDetails()









</script>

