
<!--主图轮播-->

    <div class="product_autoPlay">

        <!--图片部分-->
        <div class="product_details_autoPlay">
            <div class="jdshow_center_center">
                <div class="jd_banner_touch"><img src="../../images/gif_img_goods1.jpg" ></div>
            </div>
            <div class="jdshow_center_center">
                <div class="jd_banner_touch"><img src="../../images/gif_img_goods2.jpg" ></div>
            </div>
            <div class="jdshow_center_center">
                <div class="jd_banner_touch"><img src="../../images/gif_img_goods3.jpg" ></div>
            </div>
            <div class="jdshow_center_center">
                <div class="jd_banner_touch"><img src="../../images/gif_img_goods4.jpg" ></div>
            </div>
        </div>

        <!--点点部分——自动生成-->


    </div>


    <!--商品信息-->
    <div class="description_details_text">

        <!-- 商品名称-->
        <div class="gift_details_top"> 后Whoo拱辰享水水研水乳礼盒套装补水保湿商品套餐名称商品套餐名称商品套餐名称商品套餐名称商品套餐名称商品套餐名称商品套餐名称商品套餐名称
        </div>
        <!-- 商品价格-->
        <div class="gif_details_bottom">
            <div class="details_bottom_price"><span>￥</span>300</div>
            <div class="details_bottom_number">商品编号：JF567878</div>
        </div>
    </div>





<script>


    /*商品详情页图片滚动*/
    productInfoPlay.init({

        "moveEle":"product_details_autoPlay",//包裹所有图片的class选择器

        "moveEleParent":"product_autoPlay"//包括点点以及图片的父元素，class选择器


    });

</script>
