<!-- 弹框 -->

<div id="prompt_box">

    <div class="jf_drop_down" id="sortList">
        <div class="jf_drop_down_content">
            <div class="sort_list">
                <div class="selected">春节礼品册2018</div>
                <div>中秋节礼品册2018</div>
                <div>国庆节礼品册2018</div>
                <div>春节礼品册</div>
                <div>中秋节礼品册2018</div>
                <div>国庆节礼品册2018文案文案文案</div>
            </div>
        </div>
        <div class="jf_drop_down_bg"></div>
    </div>

    <div class="jf_drop_down" id="detailsList">
        <div class="jf_drop_down_content">
            <div class="details_list">
                <div class="selected">￥12300.00×3份</div>
                <div>￥300.00×3份</div>
                <div>￥123.00×2份</div>
                <div>￥5930.00×11份</div>
                <div>￥100.00×3份</div>
                <div>￥12300.00×1份</div>
            </div>
        </div>
        <div class="jf_drop_down_bg"></div>
    </div>

</div>


<script>


   //下拉框选择
    homePagePrompt.sortListShow();

    homePagePrompt.detailsListShow();



</script>