
    <!-- 商品列表-->
    <div class="hot_goods_list">
        <!-- goods 1-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods1.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title"><span class="self_support">京东自营</span>小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</div>
           <span class="gift_number">3种商品</span>
        </a>
        <!-- goods 2-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods3.jpg" src="../../images/img_loading.gif"class="loading_img"></div>
            <div class="product_main_title">Apple iPhone 7 Plus 128G 红色特别版 移动联通电信4G手机</div>
            <span class="gift_number">3种商品</span>
        </a>
        <!-- goods 3-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods4.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">indle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
            <span class="gift_number">6种商品</span>
        </a>
        <!-- goods 4-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods4.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
            <span class="gift_number">2种商品</span>
        </a>
        <!-- goods 5-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods1.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title"><span class="acc">附</span><span class="gift">赠</span>小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</div>
            <span class="gift_number">11种商品</span>
        </a>
        <!-- goods 6-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods2.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">Apple iPhone 7 Plus 128G 红色特别版 移动联通电信4G手机</div>
            <span class="gift_number">2种商品</span>
        </a>
        <!-- goods 7-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods1.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
            <span class="gift_number">1种商品</span>
        </a>
        <!-- goods 8-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods2.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
            <span class="gift_number">16种商品</span>
        </a>
        <!-- goods 9-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods1.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
            <span class="gift_number">1种商品</span>
        </a>
        <!-- goods 10-->
        <a class="product" href="../jf_gift_description/gift_description.html">
            <div class="product_main_img"><img data-src="../../images/gif_img_goods2.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
            <div class="product_main_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
            <span class="gift_number">16种商品</span>
        </a>
    </div>

<script>

    //懒加载

    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })


</script>