<div class="gift_lack_page_matter">


    <!--主体-->

    <div class="gift_lack_matter_two"></div>


    <!--闪烁01-->

    <div class="gift_lack_matter_no_1">

    </div>


    <!--闪烁02-->

    <div class="gift_lack_matter_no_2">

    </div>


    <!--文本-->


    <div class="gift_matter_text">

        <p>
            抱歉，未找到对应商品
        </p>

    </div>



</div>
