<div class="gift_lack_page_home">
    <!--主体-->
    <div class="gift_lack_second"></div>
    <!--闪烁01-->
    <div class="gift_lack_third"></div>
    <!--闪烁02-->
    <div class="gift_lack_fourth"></div>
    <!--文本-->
    <div class="gift_lack_text"><p>抱歉，未找到对应商品</p></div>

</div>




