<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>礼品详情</title>
</head>

<body>


<%-include('../../component/jf_gift_description/jf_gift_description.ejs')%>



</body>

</html>
