<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>添加收货地址</title>
</head>

<body>


<%-include('../../component/jf_gift_address/gift_add_address.ejs')%>



</body>

</html>
