<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>我的订单</title>
</head>
<body>


<%-include('../../component/jf_gift_order/gift_order_animation.ejs')%>


<!--底部导航-->

<footer class="gift_bottom_navigation">
    <div class="tab_box"></div>
    <div class="gift_navigation_contain jdshop_alignment_center ">

        <a href="../jf_gift_homepage/gift_homepage.html" class="tabbar_item">
            <div class="tabbar_icon">
                <img src="../../icon/jf_gift_home.png">
                <img src="../../icon/jf_gift_home_blue.png"></div>
            <p >首页</p>
        </a>

        <a href="javascript:;" class="tabbar_item on">
            <div class="tabbar_icon">
                <img src="../../icon/jf_gift_order.png">
                <img src="../../icon/jf_gift_order_blue.png"></div>
            <p>订单</p>
        </a>

        <a href="../jf_gift_account/gift_my_account.html" class="tabbar_item">
            <div class="tabbar_icon">
                <img src="../../icon/jf_gift_mine.png">
                <img src="../../icon/jf_gift_mine_blue.png"></div>
            <p>我的</p>
        </a>
    </div>
</footer>


</body>
</html>