<div class="jf_gift_2_logistics">

    <div class="jf_gift_2_caption">订单跟踪</div>


    <div class="logistics_step_sequence model">

        <div class="step_sequence_time">
            <p class="gift_date">12-11</p> <p>10:45</p></div>

        <div class="step_sequence_title">
            上海市徐汇区虹桥路808号加华商务中心虹桥路808号D5栋3楼</div>


    </div>

    <div class="logistics_step_sequence">

        <div class="step_sequence_time">
            <p class="gift_date">12-11</p> <p>10:45</p></div>

        <div class="step_sequence_title">
            上海市徐汇区虹桥路808号加华商务中心虹桥路808号D5栋3楼</div>

    </div>

    <div class="logistics_step_sequence">

        <div class="step_sequence_time">
            <p class="gift_date">12-11</p> <p>10:45</p></div>

        <div class="step_sequence_title">
            上海市徐汇区虹桥路808号加华商务中心虹桥路808号D5栋3楼</div>

    </div>

    <div class="logistics_step_sequence">

        <div class="step_sequence_time">
            <p class="gift_date">12-11</p> <p>10:45</p></div>

        <div class="step_sequence_title">
            上海市徐汇区虹桥路808号加华商务中心虹桥路808号D5栋3楼</div>

    </div>



</div>