<div class="jf_gift_logistics_information">

    <div class="gift_1_information_title">

        <div class="gift_actual"><span></span>
            <p>您的商品正在派送中</p></div>
    </div>

    <div class="gift_2_information_fedex">
        <p>物流公司：圆通快递</p>
        <p>物流单号：456528652865286</p>
    </div>

</div>