<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>我的</title>
</head>

<body>


<%-include('../../component/jf_gift_account/gift_my_account.ejs')%>



</body>

</html>
