<!-- 内容 -->
<div class="gift_account_content">
    <!--tab1 未兑换-->
    <div class="gift_details_content show">
        <!--提示-->
        <div class="gift_prompt_goods"><img src="../../images/jf_status_spot.png">款已付，请您任意在礼品册里选一款礼物，我们将免费送上门</div>

        <!-- title-->
        <div class="packages_details_tab">
            <div class="tab">套餐档位</div>
            <div class="tab right">数量</div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>600型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>


            <div class="gift_a_present" onclick="window.location.href='../jf_gift_present/gift_present_give.html'">
                <p>转赠</p>
            </div>

            <div class="jf_gift_question" onclick="giftShowTip.dialogShow({
         'mainText':'关于转赠',
         'minText':'可将该礼品册通过手机号自动转赠他人，并可微信通知获赠者',
         'noCancel':true,
         'checkBtnText':'我知道了',
         'checkFn':function(){
             giftShowTip.dialogRemove()
         }
        })"><img src="../../images/jf_gift_question.png"></div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">112</div>


            <div class="gift_a_present">
                <p>转赠</p>
            </div>

            <div class="jf_gift_question" onclick="giftShowTip.dialogShow({
         'mainText':'关于转赠',
         'minText':'可将该礼品册通过手机号自动转赠他人，并可微信通知获赠者',
         'noCancel':true,
         'checkBtnText':'我知道了',
         'checkFn':function(){
             giftShowTip.dialogRemove()
         }
        })"><img src="../../images/jf_gift_question.png"></div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_a_present">
                <p>转赠</p>
            </div>

            <div class="jf_gift_question" onclick="giftShowTip.dialogShow({
         'mainText':'关于转赠',
         'minText':'可将该礼品册通过手机号自动转赠他人，并可微信通知获赠者',
         'noCancel':true,
         'checkBtnText':'我知道了',
         'checkFn':function(){
             giftShowTip.dialogRemove()
         }
        })"><img src="../../images/jf_gift_question.png"></div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>600型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>


            <div class="gift_a_present">
                <p>转赠</p>
            </div>

            <div class="jf_gift_question" onclick="giftShowTip.dialogShow({
         'mainText':'关于转赠',
         'minText':'可将该礼品册通过手机号自动转赠他人，并可微信通知获赠者',
         'noCancel':true,
         'checkBtnText':'我知道了',
         'checkFn':function(){
             giftShowTip.dialogRemove()
         }
        })"><img src="../../images/jf_gift_question.png"></div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>


            <div class="gift_a_present">
                <p>转赠</p>
            </div>

            <div class="jf_gift_question" onclick="giftShowTip.dialogShow({
         'mainText':'关于转赠',
         'minText':'可将该礼品册通过手机号自动转赠他人，并可微信通知获赠者',
         'noCancel':true,
         'checkBtnText':'我知道了',
         'checkFn':function(){
             giftShowTip.dialogRemove()
         }
        })"><img src="../../images/jf_gift_question.png"></div>

        </div>

    </div>
    <!--tab2 已兑换-->
    <div class="gift_details_content">

        <!-- title-->
        <div class="packages_details_tab">
            <div class="tab">套餐档位</div>
            <div class="tab right">数量</div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>600型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>

    </div>
    <!--tab3 已转赠-->
    <div class="gift_details_content">
        <!-- title-->
        <div class="packages_details_tab">
            <div class="tab">套餐档位</div>
            <div class="tab right">数量</div>
        </div>
        <!-- list-->
        <div class="packages_title_2018" onclick="location='../jf_gift_success/gift_give_success.html'">

            <div class="gift_details_2018 ">
                <p>18900型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018" onclick="location='../jf_gift_success/gift_give_success.html'">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018" onclick="location='../jf_gift_success/gift_give_success.html'">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018" onclick="location='../jf_gift_success/gift_give_success.html'">

            <div class="gift_details_2018 ">
                <p>18900型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018" >

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>18900型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>18900型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>18900型（春节礼品册-2018）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（春节礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">2</div>

            <div class="gift_look_details">
                <p>查看详情</p>
            </div>

        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p>300型（中秋礼品册-2017）</p>
                <p class="gift_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018">1</div>

            <div class="gift_look_details">
                <p>查看详情</p>

            </div>

        </div>

    </div>
    <!--tab4 已过期-->
    <div class="gift_details_content">
        <!-- title-->
        <div class="packages_details_tab">
            <div class="tab">套餐档位</div>
            <div class="tab right expired">数量</div>
        </div>
        <!-- list-->
        <div class="packages_title_2018">

            <div class="gift_details_2018 ">
                <p class="expire_name">600型（春节礼品册-2018）</p>
                <p class="gift_time expire_time">有效期至：2017-12-30</p>
            </div>

            <div class="gift_number_2018 expire_num">2</div>


        </div>

    </div>

</div>
