
<!--切换tab-->
<div class="gift_exchange_meal">
    <div class="gift_tab_box"></div>
    <div class="gift_tab_contain" onclick="giftAccount.changeAccountList(document.getElementsByClassName('gift_tab_contain')[0])">
        <div class="tab choose_tab">未兑换</div>
        <div class="tab">已兑换</div>
        <div class="tab">已转赠</div>
        <div class="tab">已过期</div>
    </div>
</div>


