<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>礼品册商城</title>
</head>
<body>


<%- include('../../component/jf_gift_homepage/gift_5_matter.ejs')%>


<%- include('../../component/jf_gift_homepage/gift_bottom_navigation.ejs')%>


</body>
</html>