
<!--编辑地址-->
<%- include('gift_edit_address/gift_edit_address.ejs')%>

<!-- 底部按钮-->
<footer class="gift_redeem_now">

    <a class="gift_redeem_bottom" href="../jf_gift_address/gift_add_address.html">
        添加新地址
    </a>

</footer>
