<div class="jf_gift_logistics_information">

    <div class="gift_information_fedex">
        <div>
            <p><span>物流公司：</span>圆通快递</p>
            <p><span>物流单号：</span>456528652865286</p>
        </div>

    </div>

    <!-- 商品名称-->
    <div class="goods_title">
        <p>商品名称：</p>
        <p>2018年春节旺旺大礼包特大2018年春节旺旺大礼包特大2018年春节旺旺大礼包特大2018年春节旺旺大礼包特大2018年春节旺旺大礼包特大</p>
    </div>

</div>