<div class="gift_logistics_tip "><img src="../../images/jf_status_spot.png">提示：订单已被拆分</div>
<!-- 物流信息 -->
<%- include('./gift_logistics_1_title.ejs')%>
<!--物流跟踪-->
<%- include('../jf_gift_logistics/gift_2_logistics.ejs')%>

<!-- 物流信息 -->
<%- include('./gift_logistics_1_title.ejs')%>
<!--物流跟踪-->
<%- include('../jf_gift_logistics/gift_2_logistics.ejs')%>
