<div class="gift_lack_page_indent">


    <!--主体-->

    <div class="gift_lack_indent"></div>


    <!--闪烁01-->

    <div class="gift_lack_indent_1">

    </div>


    <!--闪烁02-->

    <div class="gift_lack_indent_2">

    </div>


    <!--文本-->


    <div class="gift_lack_indent_text">

        <p>
            您还没有相应订单
        </p>

    </div>



</div>
