
<!--礼品内容1-->

<div class="gift_list_contain">

    <div class="gift_order_status">
        <p>2017-12-19  11:13:12</p>
        <p class="font_blue">待发货</p>
    </div>


    <div class="goods_list">

        <div class="main_images">
            <img src="../../images/gif_img_goods1.jpg" class="loading_img">
        </div>

        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

            <!--待发货-->
            <div class="gift_list_main">

                <span>礼品编号：2435254675</span>
            </div>

                <div class="right_gift_button">
                    <a class="gift_logistics_information" href="../jf_gift_logistics/gift_logistics_separation.html">查看物流</a>
                </div>
        </div>
    </div>
</div>



<div class="gift_list_contain">

    <div class="gift_order_status">
        <p>2017-12-19  11:13:12</p>
        <p class="font_blue">已发货</p>
    </div>


    <div class="goods_list">

        <div class="main_images">
            <img src="../../images/gif_img_goods4.jpg" class="loading_img">
        </div>

        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

            <!--已发货-->
            <div class="gift_list_main">

                <span>礼品编号：2435254675</span>
            </div>

            <div class="right_gift_button">
                <a class="gift_logistics_information" href="../jf_gift_logistics/jf_gift_logistics.html">查看物流</a>
            </div>
        </div>
    </div>
</div>

<div class="gift_list_contain">

    <div class="gift_order_status">
        <p>2017-12-19  11:13:12</p>
        <p class="font_blue">交易成功</p>
    </div>


    <div class="goods_list">

        <div class="main_images">
            <img src="../../images/gif_img_goods3.jpg" class="loading_img">
        </div>

        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

            <!--交易成功-->
            <div class="gift_list_main">

                <span>礼品编号：2435254675</span>
            </div>

            <div class="right_gift_button">
                <a class="gift_logistics_information" href="../jf_gift_logistics/jf_gift_logistics.html">查看物流</a>
            </div>
        </div>
    </div>
</div>

<div class="gift_list_contain">

    <div class="gift_order_status">
        <p>2017-12-19  11:13:12</p>
        <p class="font_blue">待发货</p>
    </div>


    <div class="goods_list">

        <div class="main_images">
            <img src="../../images/gif_img_goods1.jpg" class="loading_img">
        </div>

        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

            <!--待发货-->
            <div class="gift_list_main">

                <span>礼品编号：2435254675</span>
            </div>

            <div class="right_gift_button">
                <a class="gift_logistics_information" href="../jf_gift_logistics/jf_gift_logistics.html">查看物流</a>
            </div>
        </div>
    </div>
</div>

<div class="gift_list_contain">

    <div class="gift_order_status">
        <p>2017-12-19  11:13:12</p>
        <p class="font_blue">已发货</p>
    </div>


    <div class="goods_list">

        <div class="main_images">
            <img src="../../images/gif_img_goods4.jpg" class="loading_img">
        </div>

        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>

            <!--已发货-->
            <div class="gift_list_main">

                <span>礼品编号：2435254675</span>
            </div>

            <div class="right_gift_button">
                <a class="gift_logistics_information" href="../jf_gift_logistics/jf_gift_logistics.html">查看物流</a>
            </div>
        </div>
    </div>
</div>