<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>转赠成功</title>
</head>
<body>

<div class="success_box">

    <%-include('../../component/jf_gift_success/gift_give_success.ejs')%>


</div>




</body>
</html>