<div class="jf_pop_up" id="gift_address_box">

    <div class="jf_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">请选择地址</div>

            <div class="pop_cancel" onclick="giftAddress.addressPopHide(document.getElementById('gift_address_box'))"></div>


        </div>

        <div class="pop_main">

            <div class="product_prompt_address">

                <div id="jd_address_select">

                    <div class="top_address jdshop_alignment_middle">

                        <div>请选择</div>

                        <div></div>

                        <div></div>

                        <div></div>

                        <div></div>

                    </div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                </div>


            </div>

        </div>

    </div>

    <div class="jf_pop_up_bg" onclick="giftAddress.addressPopHide(document.getElementById('gift_address_box'))">

    </div>

</div>


