<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>兑换</title>
</head>
<body>


<%-include('../../component/jf_gift_login/jf_gift_login.ejs')%>


</body>
</html>