

<div class="success_imf">

    <!-- 成功动画-->

    <div class="pay_animation_right">

        <div class="swal2-icon swal2-success animate">

            <span class="line tip animate-success-tip"></span>

            <span class="line long animate-success-long"></span>

            <div class="placeholder"></div>

            <div class="fix"></div>

        </div>

    </div>

    <!-- 信息-->

    <div class="success_tip">
        <p>转赠成功</p>
        <p>系统已自动给获赠者发送手机短信【获赠通知】</p>
    </div>


</div>