<div class="share_prompt" id="share_prompt">

    <div class="share_content">

        <div class="share_img"></div>
        <div class="share_close"></div>

    </div>

    <div class="share_bg"></div>

</div>

