<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>转赠</title>
</head>
<body>


<%-include('../../component/jf_gift_present/gift_present_give.ejs')%>


</body>
</html>